*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins",sans-serif;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
.title{
    margin-top: 10px;
    font-size:3rem;
    margin-bottom:10px;
    
}
.info{
    font-size:1rem;
    
}
.message{
    margin-top:14px;
    font-size:1rem;
    color:red;
}
button{
    font-size:1.25rem;
    border:none;
    padding:1rem 2rem;
    font-weight: bold;
    margin-top:10px;
    opacity:0;
    pointer-events: none;
    transition:opacity .5s ease;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    position: relative;
}
.level-two{
    position:absolute;
    display:none;
}
.spooky_img{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow-y: hidden;
    display: none;
    object-fit: cover;
}